<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-5">Reports</h1>
            <a class="btn btn-primary btn-lg" href="/reports">
                Reports
            </a>
        </div>
        <div class="overlay"></div>
    </header>
</main>